html{
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: rgb(170, 235, 202);
}

h2{
    text-align: center;
    color: blue;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(170, 235, 202)!important;
}


#backgroundImage{
    min-height: 500px;
    min-width: 50%;
    background-image: url("../images/index_bouckground.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-color: rgb(170, 235, 202);
    
    padding-top: 100px;
    border-radius: 20%;
}

#container{
    background-color: rgb(170, 235, 202);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 80px;
}

#listsContainer{
    margin: 30px auto;
    min-width: 500px;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(163, 70, 124);
    border-radius: 10%;
}



#listsContainer a{
    text-decoration: none;
    margin: 0;
    padding: 20px;
    border-style:groove;
    border-color: rgb(61, 57, 57);
    background-color: azure;
    min-width: 60%;
    color: black;
    font-size: 1.4rem;
    font-weight:500 ;
}

#listsContainer a:hover{
    background-color: green;
    color: azure;
}

#doneButton:hover{
    background-color: red;
    color: black;
}



#listsContainer input{
    margin-right: 30px;
    text-align: left;
}

#import-new-list{
    
    max-width: 100%;
    padding: 15px;
    background-color: yellowgreen;
    font-size: 1.4rem;
}

#import-new-list:hover{
    background-color: green;
    color: azure;
}

.hiddenInput{
    display: none;
}


